/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

$notice_color : #4BC0B4;
$orange : #FF7F00;
$blue : #5D9ADD;
$green : #AEB71F;
$pink : #F31960;

#notice {
	color: $notice_color;
}

.field_with_errors {
	display : inline;
	input {
		border-left: solid 5px $orange;
	}
	label {
		color: $orange;
	}
}

.require_mark {
	color: $orange;
}

#error_explanation {
  width: 450px;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  color: $orange;
  
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 20px;
    margin: -7px;
    margin-bottom: 0px;
  }
  
  ul li {
    font-size: 12px;
    list-style: square;
  }
}