/* 
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  You can use Sass (SCSS) here: http://sass-lang.com/
*/
//.m {
//	float: left;
//	margin: 20px 0 5px;
//	border-radius: 5px;
//	position: relative;
//	overflow: hidden;
////	background: url(/assets/indicator.gif) no-repeat center;
//}

/* @override http://inkstagram.com/static/css/main.css */

body, html { background: #303030; padding: 0; margin: 0; color: #eee; font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; -webkit-font-smoothing: antialiased }
a { text-decoration: none; color: rgba(255,255,255,0.8); outline: none; }
a img { border: none; }
.hide { display: none; }
.simplebutton { background: -webkit-gradient(linear, 0% 0%, 0% 100%, to(rgba(255,255,255,0.05)), from(rgba(255,255,255,0.1))); background: -moz-linear-gradient(0% 100% 90deg, rgba(255,255,255,0.05), rgba(255,255,255,0.1)); border: 1px solid rgba(0,0,0,0.7); -webkit-box-shadow: rgba(255,255,255,0.10) 0 1px 1px, rgba(255,255,255,0.15) 0 1px 1px inset; -moz-box-shadow: rgba(255,255,255,0.10) 0 1px 0px, rgba(255,255,255,0.15) 0 1px 1px inset; text-shadow:  rgba(0,0,0,0.6) 0 -1px 0; }
.simplebutton:hover { background: -webkit-gradient(linear, 0% 0%, 0% 100%, to(rgba(255,255,255,0.02)), from(rgba(255,255,255,0.09))); background: -moz-linear-gradient(0% 100% 90deg, rgba(255,255,255,0.02), rgba(255,255,255,0.09)); }
.simplebutton:active, a.simplebutton.active { -webkit-box-shadow: rgba(255,255,255,0.15) 0 1px 1px, rgba(0,0,0,0.7) 0 2px 10px inset; -moz-box-shadow: rgba(255,255,255,0.15) 0 1px 0px, rgba(0,0,0,0.7) 0 2px 10px inset; }
#browserWarning { display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #222; z-index: 99999; text-align: center; font-size: 60px; }
#error { width: 300px; background: rgba(0,0,0,0.3); margin: 100px auto; border-radius:8px; padding: 20px; text-align: center; text-shadow: #000000 0px 1px 0px; display: none; }
.disabled #headerr { opacity: 0.2; }
.sleep #header, .lightbox #header { opacity:0; top:-64px; -webkit-transition:all 0.5s; -moz-transition:all 0.5s; }
.sleep #footer, .lightbox #footer { opacity:0; bottom:-64px; -webkit-transition:all 0.5s; -moz-transition:all 0.5s; }
.lightbox #content { height: 0; opacity: 0; padding: 0 0 0 20px; -webkit-transition:all 0.5s; -moz-transition:all 0.5s; }
#content { padding: 60px 0 30px 20px; overflow: hidden; }
#header { min-width: 720px; height: 60px; background: -webkit-gradient(linear, 0% 0%, 0% 100%, to(rgba(40,40,40,0.95)), from(rgba(50,50,50,0.95))); background: -moz-linear-gradient(0% 100% 90deg, rgba(30,30,30,0.95), rgba(50,50,50,0.95)); background-image: -o-linear-gradient(bottom, rgba(30,30,30,0.95), rgba(50,50,50,0.95)); overflow: hidden; border-bottom: 1px solid rgba(0,0,0,0.6); -webkit-box-shadow: rgba(0,0,0,0.7) 0 1px 20px, rgba(0,0,0,0.8) 0 1px 1px inset; -moz-box-shadow: rgba(0,0,0,0.7) 0 1px 20px, rgba(0,0,0,0.8) 0 1px 1px inset; position: fixed; top: 0; width: 100%; z-index: 9999; -webkit-transition:all 0.3s; }
#controls { float: right; position: relative; }
#stats { float: left; text-align: right; height: 60px; line-height: 64px; font-size: 11px; text-shadow: #000 0 1px 0; opacity: 0.3; -webkit-transition:color 0.3s; min-width: 20px;}
#stats.loading { background: url(/assets/indicator.gif) no-repeat right center; text-shadow: rgba(0,0,0,0) 0 1px 0; color: rgba(255,255,255,0); display: block; }
#controls .buttons { float: right; margin: 17px 20px; }
#controls .buttons a, #followinkstagram a { float: left; color: rgba(0,0,0,0.6); text-decoration: none; height: 25px; text-align: center; border-right-style: none; font: bold 13px/25px Arial, Helvetica, "Helvetica Neue", Geneva, sans-serif; text-shadow: rgba(255,254,255,0.10) 0 1px 0; }
#followinkstagram a { border-radius:5px; padding: 7px; line-height: 12px; position: absolute; left: 300px; top: 0; }
* {  }

.twitter a, .twitter span { float: left; cursor: pointer; width: 55px; height: 20px; cursor: pointer; background-image: url('http://platform1.twitter.com/widgets/images/tweet.png'); background-repeat: no-repeat; }
.twitter span { background-position: right -145px; }
.twitter span a { float: right; background: none; width: 42px; padding: 0 4px 0 0; text-align: center;color: #2A7090; display: block; font: bold 12px/20px Arial,Helvetica,sans-serif;}

.twitter > a:hover { background-position: left -21px; }
.twitter > a:active { background-position: left -42px; }
 
#controls #twitter, #controls #facebook { margin: 21px 10px; height: 20px; float: left; }
#controls #facebook { width: 110px; border: none; }
#controls .buttons a:first-of-type { border-radius:5px 0 0 5px; }
#controls .buttons a:last-of-type { border-radius:0 5px 5px 0; border-right: 1px solid rgba(0,0,0,0.7); }
#controls .buttons a.noicon span { background: none; padding: 0 16px; }
#controls .buttons a span { background: url(/static/images/nav.png) no-repeat -278px 5px; display: block; padding: 0 14px 0 30px; }
#controls .buttons a.active span { background-position: -278px -79px; color: #eee; text-shadow: #111 0 1px; }
#controls #feedLink span { background-position: 7px 5px; }
#controls #feedLink.active span { background-position: 7px -79px; }
#controls #meLink span { background-position: -136px 5px; }
#controls #meLink.active span { background-position: -136px -79px; }
#controls #likesLink span { background-position: -495px 5px; }
#controls #likesLink.active span { background-position: -495px -79px; }
#controls #accountLink span { background-position: -377px 5px; }
#controls #accountLink.active span { background-position: -377px -79px; }
#searchBox { float: right; margin-left: 10px; }
#searchBox > span { float: left; }
#searchBox input { background: #ddd; padding: 0 10px; margin: 0; width: 90px; height: 27px; line-height: 25px; border: none; -webkit-box-shadow: rgba(255,255,255,0.10) 0 1px 1px, #000 0 0 1px inset, #000 0 1px 0 inset, #000 0 -1px 0 inset, #000 1px 0px 0 inset; -moz-box-shadow: rgba(255,255,255,0.10) 0 1px 1px, #000 0 0 1px inset, #000 0 1px 0 inset, #000 0 -1px 0 inset, #000 1px 0px 0 inset; border-radius:5px 0 0 5px; font-size: 14px; font-family: Arial, Helvetica, "Helvetica Neue", Geneva, sans-serif; color: #222; }
#searchBox input:focus { outline: none; -webkit-box-shadow: rgba(77,159,222,0.63) 0 0 10px, #000 0 0 1px inset, #000 0 1px 0 inset, #000 0 -1px 0 inset, #000 1px 0px 0 inset; border-color: rgba(77,159,222,0.63); }
#controls #searchBox a span { background: url(/static/images/search.png) no-repeat 8px 4px; padding: 0 16px; }
#currentUser { float: left; position: relative; z-index: 99; margin: 10px 20px; }
#userImage { width: 40px; height: 40px; float: left; border-radius:5px; -webkit-background-size:40px 40px; -moz-background-size:40px 40px; background-size:40px 40px; -webkit-box-shadow: rgba(0,0,0,0.5) 0 1px 1px; margin-right: 10px; }
#username { line-height: 25px; font-size: 20px; font-weight: bold; text-shadow: rgba(0,0,0,0.9) 0 1px 1px; float: left; }
#currentUser .buttons { position: absolute; top: 22px; left: 49px; font-size: 11px; font-weight: bold; width: 300px;}
#currentUser .buttons a { float: left; padding: 6px 0px 6px 0px; margin-right: 10px; color: rgba(255,255,255,0.3); text-shadow: rgba(0,0,0,0.56) 0 -1px 0; font-family: Arial, Helvetica, "Helvetica Neue", Geneva, sans-serif; }
#currentUser .buttons a strong { color: rgba(255,255,255,0.5); }
#currentUser .buttons a:hover { color: rgba(255,255,255,0.5); text-shadow: none; border-bottom: 3px solid rgba(255,255,255,0.05); }
#currentUser .buttons a:hover strong { color: #eee; }
#currentUser .buttons a.active { border-bottom: 3px solid rgba(255,255,255,0.1); color: #eee; }
#relationship { float: left; font-size: 12px; margin: 5px 5px; }
#relationship a { float: left; padding: 3px 10px; color: rgba(255,255,255,0.2); background: rgba(255,255,255,0.02); border-radius:3px; font-weight: bold; }
#relationship a:hover { color: rgba(255,255,255,0.5); background: rgba(0,0,0,0.2); }

#socialshare { float: left; clear: both; width: 100%; margin: 10px 0; }
#sharethisbutton { float: left; margin: 11px 0;}
#sharethisbutton span { padding-left: 20px; width: auto; }

#login { position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 999; background: rgba(80,80,80,0.8); display: none; }
#login .wrap { width: 350px; background: rgba(0,0,0,0.7); border-radius:7px; margin: 100px auto; text-align: center; padding: 5px 20px 20px; font-size: 14px; font-weight:bold; text-shadow: #000 0 1px 1px; color: #ccc; }
#login a { display: block; width: 120px; margin: 15px auto 0; background: -webkit-gradient(linear, 0% 0%, 0% 100%, to(#156592), from(#3bb4f6)); background: -moz-linear-gradient(0% 100% 90deg, #156592, #3bb4f6); padding: 10px  15px;  border-radius:50px; -webkit-background-clip: padding-box; -webkit-box-shadow: rgba(0,0,0,0.5) 0 1px 1px, rgba(255,255,255,0.3) 0 1px 1px inset; -moz-box-shadow: rgba(0,0,0,0.5) 0 1px 1px, rgba(255,255,255,0.3) 0 1px 1px inset; font-weight: bold; text-shadow: #0c4767 0 1px 0}
#login .wrap div { margin-top: 10px; cursor: pointer; }

#welcome, #account { position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 999; background: rgba(80,80,80,0.9); display: none; text-align: center; }
#welcome h1 { font-size: 60px; margin: 30px 20px; }
#welcome h1 strong { background: rgba(255,255,255,0.05); padding: 0 5px; border-radius:5px; }
#welcome h2 { font-weight: normal; margin: 0 -20px; font-size: 16px; padding: 10px 20px; background: rgba(0,0,0,0.2); text-align: center; color: rgba(255,255,255,0.8); }
#welcome h2 a { font-weight: bold; color: rgba(255,255,255,0.9);}
#welcome .wrap, #account .wrap { width: 650px; background: rgba(0,0,0,0.8); border-radius:7px; margin: 100px auto; padding: 5px 20px 20px; font-size: 13px; text-shadow: #000 0 1px 1px; color: #ccc; overflow: hidden; }
#welcome .features { background: rgba(255,255,255,0.1) url(/static/images/features.png) no-repeat 40px 0px; overflow: hidden; margin: 0px -20px; padding: 40px; }
#welcome .features li { float: left; list-style-type: none; height: 70px; line-height: 160px; text-align: center; width: 150px;}
#welcome .bottom { overflow: hidden; margin: 40px 0 30px 0;}
#welcome a.simplebutton { display: block; margin: 0 auto; width: 300px; background: -webkit-gradient(linear, 0% 0%, 0% 100%, to(#156592), from(#3bb4f6)); background: -moz-linear-gradient(0% 100% 90deg, #156592, #3bb4f6); padding: 10px  55px;  border-radius:7px; border: none; -webkit-box-shadow: rgba(0,0,0,0.5) 0 1px 1px, rgba(255,255,255,0.3) 0 1px 1px inset; -moz-box-shadow: rgba(0,0,0,0.5) 0 1px 1px, rgba(255,255,255,0.3) 0 1px 1px inset; font-weight: bold; font-size: 20px; line-height: 20px;}

#account { display: none; position: absolute; background: none; }
#account .film { position: fixed; width: 100%; height: 100%; top: 0; left: 0; background: rgba(80,80,80,0.9); }
#account .wrap { text-align: left; position: relative; padding: 0; width: auto; margin: 100px auto; width: 700px; }
#account .close { position: absolute; right: 10px; top: 10px; }
#account .tabs { height: 50px; }
#account .tabs a { float: left; height: 50px; padding: 0 20px 0 60px; line-height: 50px; font-weight: bold; opacity: 0.5; }
#account .tabs a:first-of-type { border-radius:7px 0 0 0; }
#account .tabs a.active { background: rgba(255,255,255,0.9); opacity: 1; color: #222; text-shadow: none; border-radius:7px 7px 0 0; }
#account .content { padding: 20px; background: rgba(255,255,255,0.9); border-radius:0 0 7px 7px; color: #ccc; text-shadow: none;  }
#account .content h2 { color: #555; text-shadow: none; font-size: 17px; }
#account .content .field { padding: 20px 0; border-bottom: 1px solid; overflow: hidden; }
#account .content .field .label { float: left; width: 200px; margin-right: 25px; color: #777; text-shadow: #eee 0 1px 0; }
#account .content .field input { float: left; }
#account .content .field input[type=text], #account .content .field textarea,  #account .content .field select { border: 2px solid #999; padding: 6px; font: 16px Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif; width: 350px; -webkit-box-shadow:#ddd 0 2px 1px inset; -moz-box-shadow:#ddd 0 2px 1px inset; color: #444; outline: none; }
#account .content .field textarea { font-size: 14px; }
#account .content .field label { font-size: 16px; padding-left: 10px; color: #555;}
#account .content .button { float: left; padding: 10px 20px; background: #000; border-radius:7px; font-weight: bold; font-size: 18px; }
#account .content .buttons { border-top: 1px solid #fff; padding: 15px 0 0; overflow: hidden;}
#account .content .buttons a { float: right; font-weight: bold; padding: 10px 15px; background: #000; border-radius:7px; opacity: 0.8;}
#account .content .buttons a:hover { opacity: 1; }

.m { float: left; margin: 20px 0 5px; border-radius:5px; position: relative; overflow: hidden;  background: url(/assets/indicator.gif) no-repeat center; }
.m img { border-radius:3px; -webkit-transition:all 0.3s; -moz-transition:all 0.3s; cursor: pointer; opacity: 0; 
//	-webkit-box-shadow: #111 0 1px 1px 
	}
.m > a { position: relative; }
.m > a .caption { position: absolute; bottom: 0; left: 0; right: 0; padding: 20px; background: rgba(0,0,0,0.75); opacity: 0; text-shadow: #000 0 1px 0; -webkit-transition: opacity 0.3s; -moz-transition: opacity 0.3s; font: 13px/18px Georgia, "Times New Roman", Times, serif; }
.m > a:hover .caption { opacity: 1; }
.m .meta { color: #999; font-size: 13px; padding: 5px 0px 10px; overflow: hidden;}
.m .meta a.user { font-weight: bold; color: #999; float: left; text-align: center; text-shadow: #222 0 -1px; max-width: 100px; overflow: hidden; }
.m .meta a:hover { text-decoration: underline; }
.photo .meta span, .photo .meta .comments, .photo .meta .likes { float: right; background: url(/static/images/like.png) no-repeat; margin-left: 10px; text-indent: 18px; text-align: left; opacity: 0.4; }
.photo .meta .likes.does { background-position: 0px -25px; }
.photo .meta .comments { background-image: url(/static/images/comment.png); right: 40px; }
.photo.small { padding-bottom: 0; width: 150px;}
.photo.small span { float: left; display: none; }

.iconify img { opacity: 1; }
#socialsharing { float: left; margin: 23px 5px 0; }

#fullFrontal { padding: 20px; overflow: hidden; margin-bottom: 20px; min-height: 612px; width: 1000px; }
#backButton { font-size: 14px; font-weight: bold; padding: 6px 10px; border-radius: 0 0 0 5px; position: fixed; top: -1px; right: -1px; }
#photoDetails > img { border-radius:7px; float: left; position: fixed; }
#photoDetails .meta { margin-left: 650px; width: 350px; }
#metaContent .user { display: block; height: 40px; background: url(/static/images/empty.png) no-repeat; -webkit-background-size:40px 40px; -moz-background-size:40px 40px; background-size:40px 40px; padding-left: 52px; font-weight: bold; font-size: 14px; opacity: 0.85; }
#metaContent .user span { display: block; opacity: 0.3; text-shadow: rgba(0,0,0,0.8) 0 -1px 1;}
#metaContent .user span.emoji { display: inline-block; }
#metaContent .user span:first-of-type { font-size: 16px; margin-bottom: 3px; opacity: 1; }
#metaContent .user:hover { opacity: 1; }
#photoDetails .caption { font: 30px Georgia, "Times New Roman", Times, serif; text-shadow: #000000 0 1px 0; padding: 20px 0; }
#photoDetails .table { overflow: hidden; padding-bottom: 15px; }
#photoDetails .table > div { float: left; background: rgba(255,255,255,0.05) url(/static/images/table.png) no-repeat 5px 4px; padding: 4px 10px 4px 26px; margin: 5px 5px 0 0; border-radius:3px; font-size: 14px; text-shadow: rgba(0,0,0,0.6) 0 -1px; color: rgba(255,255,255,0.6); }
#photoDetails .table > div[data-empty=''] { display: none; }
#photoDetails .table .date { background-position: 5px -59px; }
#photoDetails .table .filter { background-position: 5px -37px; }
#photoDetails .table .link { background-position: 5px -79px; }
#photoDetails .table .tags { background-position: 5px -16px; }
#imageLocation { margin: 15px 0 0; -webkit-box-shadow:#000 0 1px 3px; -moz-box-shadow:#000 0 1px 3px; width: 350px; height: 0px; overflow: hidden; opacity: 0; -webkit-transition:all 0.3s; -moz-transition:all 0.3s; border-radius:3px }
#imageLocation.visible { height: 100px; opacity: 1;  }
#photoDetails .tabs { margin: 20px 0 10px; clear: both; height: 31px; border-bottom: 1px solid rgba(0,0,0,0.1); }
#photoDetails .tabs span { float: left; padding: 0px 10px 0px 36px; line-height: 32px; border-radius:5px 5px 0 0; font-size: 13px; font-weight: bold; cursor: pointer; background: url(/static/images/like.png) no-repeat 12px 9px; height: 32px; overflow: hidden; color: rgba(255,255,255,0.4); }
#photoDetails .tabs span.likes.does { background-position: 12px -15px; }
#photoDetails .tabs span:hover { background-color: rgba(255,255,255,0.1); }
#photoDetails .tabs span.comments { background-image: url(/static/images/comment.png); }
#photoDetails .tabs span.active { -webkit-box-shadow:rgba(0,0,0,0.1) 0 3px 2px inset, rgba(0,0,0,0.2) 0 -1px; -moz-box-shadow:rgba(0,0,0,0.1) 0 3px 2px inset, rgba(0,0,0,0.2) 0 -1px; background-color: #333; color: #eee;}
#likesAndComments .comment { overflow: hidden; font-size: 12px; text-shadow: #111 0 1px; padding: 10px 20px 10px 10px; position: relative; }
#likesAndComments .comment:nth-of-type(odd) { background: rgba(255,255,255,0.03); }
#likesAndComments .comment a.user { float: left; margin-right: 10px; font-weight: bold; font-size: 12px; line-height: 18px; }
#likesAndComments .comment a.remove { opacity: 0.5; position: absolute; right: 5px; top: 5px;}
#likesAndComments .comment div { display: inline; line-height: 18px; opacity: 0.7;}
#likesAndComments .comment div img { vertical-align: top; }
#likesAndComments .comment .profilepicture { float: left; width: 32px; margin-right: 10px; }
#likesAndComments .comment .profilepicture img { display: block; width: 32px; }

#likesAndComments .like { padding: 5px 10px; font-size: 12px; font-size: 12px; text-shadow: #111 0 1px; background: rgba(255,255,255,0.03); border-radius:3px; float: left; margin: 3px 3px 0px 0; }
#likesAndComments .like:hover, #likesAndComments .comment a.user:hover { text-decoration: underline; }
#commentsForm { padding: 0 0 10px 0; overflow: hidden; display: none; position: relative; }
#commentsForm div { float: left; height: 40px; overflow: hidden; width: 250px; background: rgba(255,255,255,0.9); border: 1px solid #000; border-right: 0; -webkit-box-shadow: rgba(255,255,255,0.10) 0 1px 1px, rgba(0,0,0,0.2) 0 2px 2px inset; -moz-box-shadow: rgba(255,255,255,0.10) 0 1px 0px, rgba(0,0,0,0.2) 0 2px 2px inset; border-radius:5px 0 0 5px; -webkit-background-clip: padding-box;}
#commentsForm textarea { border: none; width: 240px; background: none; padding: 0; margin: 5px; outline: none; color: #333; font: 13px Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif; height: 30px; }
#commentsForm a { float: left; width: 96px; text-indent: 20px; line-height: 40px; border-radius:0 5px 5px 0; height: 40px; font-size: 12px; }
#likesForm { padding: 0 0 10px 0; display: none; }
#likesForm a { width: 100%; display: block; border-radius:5px; padding: 10px 0; text-align: center; opacity: 0.3; }
#likesForm a:hover { opacity: 1; }

#footer { position: fixed; bottom: 0px; background: rgba(0,0,0,0.8); font-size: 11px; width: 100%; text-align: center; border-top: 1px solid #000; -webkit-transition:all 0.3s; -moz-transition:all 0.3s; z-index: 9999; }
#footer:hover { background: rgba(0,0,0,0.9); }
#api { opacity: 0.3; }
#builtBy { float: left; margin: 4px 20px 0; opacity: 0.8;}
#builtBy a { border-bottom: 1px dotted #999; }
#sizing { float: right; margin-right: 20px; }
#sizing a { opacity: 0.6; float: left; padding: 5px 13px; font-size: 11px; font-weight: bold; color: #fff; }
#sizing a:hover { background: rgba(255,255,255,0.2); border-bottom: 2px solid rgba(255,255,255,0.4); }
#sizing a.active { border-bottom: 2px solid #fff; opacity: 0.9;}
#paginate { color: #fff; display: block; border-radius:5px; padding: 15px 0; text-shadow: #05334c 0 1px 0; overflow: hidden; font: bold 13px/13px Arial, Helvetica, "Helvetica Neue", Geneva, sans-serif; text-align: center; font-size: 20px; margin: 0 20px 42px; opacity: 0.5; }
#paginate:hover { opacity: 1; }
#paginate:active { -webkit-box-shadow: rgba(255,255,255,0.15) 0 1px 1px, rgba(0,0,0,0.7) 0 2px 10px inset; -moz-box-shadow: rgba(255,255,255,0.15) 0 1px 0px, rgba(0,0,0,0.7) 0 2px 10px inset; }
#paginate.hidden, .lightbox #paginate { display: none; }

#twitterBG .tool { margin: 20px auto; width: 200px; background: rgba(0,0,0,0.2); padding: 5px 20px 20px; }
#twitterBG h3 { font-size: 14px; font-weight: normal; opacity: 0.5; }
#twitterBG .tool > img { -webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.8, transparent), to(rgba(255,255,255,0.1))); border-radius:5px; }
#twitterBGResponse { margin: 10px 0; position: relative; display: none; }
#twitterBGResponse div {font-size: 12px; margin-top: 5px; opacity: 0.2; text-align: center; }
#twitterBGResponse a, #twitterBGGenerate { display: block; padding: 10px; text-align: center; font-weight: bold; background: -webkit-gradient(linear, 0% 0%, 0% 100%, to(#156592), from(#3bb4f6)); background: -moz-linear-gradient(0% 100% 90deg, #156592, #3bb4f6); font-size: 14px; margin: 10px 0;}
#twitterBGImage { text-align: center; }
#twitterBGImage img { width: 200px; height: 200px; }
#twitterBG .tweet { margin: 20px -20px -20px; padding: 10px 20px;  background: rgba(0,0,0,0.2);}

#emojibox { width: 350px; border-radius: 3px 3px 3px 3px; color: rgba(255, 255, 255, 0.6); background-color: rgba(30, 30, 30, 0.95); float: left; font-size: 14px; position: absolute; z-index: 1000; display: none; margin-bottom: 10px; }
#emojibox span { cursor: pointer; }
#emojibox div { float: left; padding: 10px; clear: both; }
#emojibox div.icons div { display: none; }
#emojibox div.icons div.active { display: block; }
#emojibox div.icons span { float: left; width: 18px; height: 18px; background-image: url('/static/images/emojitiles.png'); padding: 1px; }
#emojibox ul { list-style-type: none; padding: 0; margin: 0; float: left; }
#emojibox ul li { float: left; padding: 10px; width: 48px; }
#emojibox ul li span { background-image: url("/static/images/emojitiles.png"); background-repeat: no-repeat; display: block; height: 20px; margin: 0 auto; width: 20px; }

#commentpreview { width: 300px; border-radius: 3px 3px 3px 3px; color: rgba(255, 255, 255, 0.6); background-color: rgba(30, 30, 30, 0.95); float: left; font-size: 14px; position: absolute; z-index: 1000; margin-bottom: 10px; top: 400px; left: 500px; padding: 5px; }
#commentpreview em { display: block; padding: 5px; font-style: normal; border-bottom: 1px solid #aaa; }
#commentpreview p { vertical-align: middle; text-shadow: 0 1px #111111; font-size: 12px; padding: 5px; margin: 0; }
#commentpreview p img { vertical-align: middle; }

.sendmail {
	background:url(/assets/mail.png) no-repeat;
	width:32;
	height:32;
	cursor:pointer;
	border: none;
}

.simpleblock {
    background: -moz-linear-gradient(0% 100% 90deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.1)) repeat scroll 0 0 transparent;
    border: 1px solid rgba(0, 0, 0, 0.7);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 1px rgba(255, 255, 255, 0.15) inset;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
}

div.meta {
//	margin-top: 300px;
	text-align:center;
}
div.photo {
	margin-top: 25px;
	overflow:visible;
}


//.m:nth-of-type(3n) {
//margin-right:0;
//}
//.m {
//margin-right:131px;
//}

// works for 150px thumbnail
//.m:nth-of-type(7n) {
//margin-right:0;
//}
//.m {
//margin-right:21px;
//}

