<!DOCTYPE html>
<html>
<head>
  <title>Everzealot</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="header">
		<a href="/"><h2>Everzealot - Your Evernote Helper</h2	></a>
		<p>alpha release ^^</p>
		<a href="signout">Sign Out</a>
	</div>

	<%= yield %>			

	<div id="footer">
		© 2011 Powered by Kinopyo •  
	  <a href="about.html" class="zoom">About this site</a> •  
	  <a href="feedbacks/new">Feedback</a>
	</div>

</body>
</html>
